<div class ="display">

<div class ="show-t">Title:&nbsp;</div>

<div class ="show-text"><%= @book.title %></div>

</div>

<div class ="display">

<div class ="show-t">Body:&nbsp;</div>

<div class ="show-text"><%= @book.body %></div>

</div>

<%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to "Back", books_path %>

